<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Friends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Friends</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let friend of friends | keyvalue">
          <app-friend-detail [friend]="friend.value" [ourPoaps]="ourPoaps"></app-friend-detail>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Outgoing requests</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let invite of peopleWeInvited | keyvalue">
          <app-friend-detail [friend]="invite.value" [ourPoaps]="ourPoaps"></app-friend-detail>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Incoming requests</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let invite of peopleThatInvitedUs | keyvalue">
          <app-friend-detail [friend]="invite.value" [ourPoaps]="ourPoaps"></app-friend-detail>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Friend graph</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <app-friend-graph></app-friend-graph>
    </ion-card-content>
  </ion-card>
</ion-content>
