<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meet a new friend
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.--background]="scanActive?'#00000000':''">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Your scan code</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="flex">
      <span [hidden]="setup">First setup your public key in the settings tab!</span>
      <canvas #qrtarget [hidden]="scanActive || !setup"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-button expand="full" (click)="startScanner()" [hidden]="scanActive">
        Scan my friends code
      </ion-button>
    </ion-card-content>
  </ion-card>



  
  
  <ion-row class="scan-button" [hidden]="!scanActive">
    <ion-col class="ion-no-padding">
      <ion-button expand="full" (click)="stopScanner()">Stop</ion-button>
    </ion-col>
  </ion-row>

  <div class="scan-box" [hidden]="!scanActive"></div>
</ion-content>
