<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meet a new friend
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.--background]="scanActive?'#00000000':''">
  <canvas #qrtarget [hidden]="scanActive"></canvas>

  <ion-button expand="full" (click)="startScanner()" [hidden]="scanActive">
    SCAN
  </ion-button>
  
  <ion-row class="scan-button" [hidden]="!scanActive">
    <ion-col class="ion-no-padding">
      <ion-button expand="full" (click)="stopScanner()">Stop</ion-button>
    </ion-col>
  </ion-row>

  <div class="scan-box" [hidden]="!scanActive"></div>
</ion-content>
