<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Log in to your public key</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-textarea [(ngModel)]="publicKey" auto-grow placeholder="Enter your public key"></ion-textarea>

      <br/>
      Challenge: <span>{{ challenge }}</span>
      <br/>

      <ion-textarea [(ngModel)]="signedKey" auto-grow placeholder="Enter your signed challenge"></ion-textarea>

      <br/>
      <ion-note color="danger">{{ error }}</ion-note>

      <ion-button expand="full" (click)="login()" [hidden]="loggedIn">
        Login
      </ion-button>

      <ion-button expand="full" (click)="logout()" [hidden]="!loggedIn">
        Logout
      </ion-button>
    </ion-card-content>
  </ion-card>
  

  <ion-card>
    <ion-card-header>
      <ion-card-title>How does this work?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Open the Web3 signing app, put in the challenge you see above then copy your public key and your signed challenge back here and press login. You will be logged in for one week. <br/>

      <a href="https://poapmeet.com/sign" class="button button-outline button-positive">
        Open Web3 challenge signing app
      </a>
    </ion-card-content>
  </ion-card>
  
</ion-content>
