ion-textarea {
 border: 1px solid rgba(27, 27, 27, 0.7);
 border-radius:2px;
}

ion-button {
    margin-top:1rem;
}

.challenge {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

ion-card-title {
    color:rgb(15, 15, 15);
}

ion-card {
    color:black;
}

.scan-box {
    border: 2px solid #fff;
    box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
    content: "";
    display: block;
    left: 50%;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
  }
  .scan-button {
    margin: 0px;
    position: absolute;
    bottom: 100px;
    width: 100vw;
    height: 50px;
    z-index: 11;
  }
