ion-textarea {
 border: 1px solid rgba(255, 255, 255, 0.7);
 border-radius:2px;
}

ion-button {
    margin-top:1rem;
}

.challenge {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}