<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.--background]="scanActive?'none transparent !important':''">
  <ion-card [hidden]="scanActive">
    <ion-card-header>
      <ion-card-title>Log in to your public key</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-textarea [(ngModel)]="publicKey" disabled auto-grow placeholder=""></ion-textarea>

      <!-- <br/>
      Challenge: <span class="challenge">{{ challenge }}</span>
      <br/>

      <ion-textarea [(ngModel)]="signedKey" auto-grow placeholder="Enter your signed challenge"></ion-textarea>

      <br/>
      <ion-note color="danger">{{ error }}</ion-note>

      <ion-button expand="full" (click)="login()" [hidden]="loggedIn">
        Login
      </ion-button>

    -->

      <ion-button expand="full" (click)="startScanner()" [hidden]="loggedIn">
        Scan
      </ion-button>

      <ion-button expand="full" (click)="logout()" [hidden]="!loggedIn">
        Logout
      </ion-button>
    </ion-card-content>
  </ion-card>
  

  <ion-card [hidden]="scanActive">
    <ion-card-header>
      <ion-card-title>How does this work?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ol>
        <li>Open the Web3 signing app</li>
        <li>Connect using metamask or another Web3 provider</li>
        <li>Scan the QR code</li>
      </ol>
      
      You will be logged in for one week. <br/>

      <a href="https://poapmeet.xyz/sign" class="button button-outline button-positive">
        https://poapmeet.xyz/sign/
      </a>
      
    </ion-card-content>
  </ion-card>

  <ion-row class="scan-button" [hidden]="!scanActive">
    <ion-col class="ion-no-padding">
      <ion-button expand="full" (click)="stopScanner()">Stop</ion-button>
    </ion-col>
  </ion-row>

  <div class="scan-box" [hidden]="!scanActive"></div>
  
</ion-content>
